.App {
  text-align: center;
}


.App-logo {
  height: 15vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 200s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: #FEFEFE;
}

.grand-total {
  font-size: 18px;
}

.App-name * {
  margin: 0px;
}

.App-link {
  color: #61dafb;
}

.table-center {
    margin: 0 auto;   
    min-width: 60vh;    
}​

table.recipe-detail th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #04AA6D;
  color: white;
}

table.recipe-detail td {
  color: #FEFEFE;
  background-color: #002233;
}

li * {
  padding: 0px 3px 2px 0px;
  margin: 0px 5px 0px 15px;
}

li { background: #EFEFFF; }
li:nth-child(odd) { background: #DEDEFF; }

label {
  display: inline-block;
  xdisplay: inline;
  xpadding-right: .4em;
}

h2 {
  color: #282c34;
}

button {
  padding: 5px;
}

.form-group * {
  padding: 5px 5px 5px 5px;
  margin: 0px 5px 0px 5px;
}

/*Note: bootstrap not used at the moment, these can come out if that changes*/
.form-control {
  xdisplay: block;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 510;
  color: #444;
  line-height: 1.2;
  padding: .4em .4em .5em .4em;
  xwidth: 100%;
  max-width: 100%; /* useful when width is set to anything other than 100% */
  box-sizing: border-box;
  margin-left: .5em;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  border-radius: .3em;
  background-color: #fff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


