.App {
  text-align: center;
}


.App-logo {
  height: 15vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 200s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.grand-total {
  font-size: 18px;
}

.App-name * {
  margin: 0px;
}

.App-link {
  color: #61dafb;
}

.table-center {
    margin: 0 auto;   
    min-width: 60vh;    
}​

table.recipe-detail th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #04AA6D;
  color: white;
}

table.recipe-detail td {
  color: #FEFEFE;
  background-color: #002233;
}

li * {
  padding: 0px 3px 2px 0px;
  margin: 0px 5px 0px 15px;
}

li { background: #EFEFFF; }
li:nth-child(odd) { background: #DEDEEF; }

label {
  display: inline-block;
}

.form-group * {
  padding: 5px 5px 5px 5px;
  margin: 0px 5px 0px 5px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


